@charset "UTF-8";

body{
    background-color: aqua;
}
h1{
    color: aliceblue;
    background-color: brown;
}
h2{
    color:darkkhaki
}
p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
a{
    display: flex;
    justify-content: center;
    color:darkslategrey;
}