@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Configurações Globais*/
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
/*Configurações Do Corpo do Hub*/
.Hub-Corpo{
    background-image: url('Imagens/Paisagem.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*Configurações do Cabeçalho do Hub*/
.Hub-Corpo-Cabecalho{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.Hub-Corpo-Cabecalho-Titulo{
    color: rgb(141, 138, 139);
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    text-shadow: 0px 7px 53px white;
}
/*Configurações do principal do Hub*/
.Hub-Corpo-Principal{
    min-height: 75vh;
}
.Hub-Corpo-Principal-Paragrafo{
    padding: 2%;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
.Hub-Corpo-Principal-Navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
}    
.Hub-Corpo-Principal-Navegacao-Lista{     
    background: linear-gradient(to bottom, rgba(243, 158, 158, 0.806), rgba(90, 46, 212, 0.543));
    box-shadow: 0px 5px 9px ;
    padding: 2%;
    min-width: 30vh;
    border-radius: 94px 5px;
}
.Hub-Corpo-Principal-Navegacao-Lista-Item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 165%;
    margin: 5px 5px;
    list-style: none;
}
.Hub-Corpo-Principal-Navegacao-Lista-Item-Link{
    color: rgb(36, 109, 244);
    text-decoration: none;
    border-radius: 10%;
    transition-duration: 0.3s;
}
.Hub-Corpo-Principal-Navegacao-Lista-Item-Link:hover{
    background-color: rgba(240, 240, 240, 0.291);
    letter-spacing: 5px;
   
}
/*Configurações do Rodape do Hub*/
.Hub-Corpo-Rodape{
    background-color: rgb(99, 99, 99);
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Hub-Corpo-Rodape-Paragrafo{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: cornflowerblue;
}
/*Configurções do Corpo do Verde*/
.Verde-Corpo{
    background-image: url('Imagens/backgroundVerde.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/*Configurações do Cabeçalho do Verde*/
.Verde-Corpo-Cabecalho{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.Verde-Corpo-Cabecalho-Titulo{
    color: green;
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    text-shadow: 0px 7px 53px greenyellow;
}
/*Configurções do Principal do Verde*/
.Verde-Corpo-Principal{
    min-height: 75vh;
}
.Verde-Corpo-Principal-Paragrafo{
    padding: 2%;
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
    color: rgb(79, 128, 49);
}
.Verde-Corpo-Principal-Navegacao{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Verde-Corpo-Principal-Navegacao-Lista{
    background: linear-gradient(to bottom, rgba(54, 128, 54, 0.601), rgba(2, 58, 2, 0.584));
    box-shadow: 2px 6px 2px rgba(0, 0, 0, 0.444);
    padding: 2%;
    min-width: 30vh;
    border-radius: 5px 94px;
}
.Verde-Corpo-Principal-Navegacao-Lista-Item{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    font-size: 165%;
    margin: 5px 5px;
    list-style: none;
}
.Verde-Corpo-Principal-Navegacao-Lista-Item-Link{
    color: rgb(4, 82, 4);
    text-decoration: none;
    border-radius: 15%;
    transition-duration: 0.3s;
}
.Verde-Corpo-Principal-Navegacao-Lista-Item-Link:hover{
    background-color: rgba(44, 124, 47, 0.291);
}
/*Configurações de Rodape do Verde*/
.Verde-Corpo-Rodape{
    background-color: greenyellow;
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Verde-Corpo-Rodape-Paragrafo{
    text-align: center;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    font-weight: 700;
    color: #0b670b;
}
.Verde-Corpo-Rodape-Paragrafo:after{
    background-color: #045a04;
}
/*Configurações do Corpo do Azul*/   
.Azul-Corpo{
    background: url('Imagens/BackGroundAzul.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: Cover;
}
/*Configurações do Cabeçalho do Azul*/
.Azul-Corpo-Cabecalho{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.Azul-Corpo-Cabecalho-Titulo{
    font-family: 'poppins', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: blue;
    text-shadow: 2px 6px 49px rgba(55, 55, 224, 0.532);
}
/*Configurações do Principal do Azul*/
.Azul-Corpo-Principal{
    min-height: 75vh;
}
.Azul-Corpo-Principal-Paragrafo{
    text-align: center;
    padding: 5%;
    font-size: 23px;
    font-weight: 700;
    font-family: 'poppins', sans-serif;
    color: rgb(0, 0, 113);
}
.Azul-Corpo-Principal-Navegacao{
    display: flex;
    justify-content: center;
    align-items: center;
}    
.Azul-Corpo-Principal-Navegacao-Lista{
    list-style: none;
    text-align: center;
    background: linear-gradient(to bottom, rgba(72, 72, 114, 0.782), rgba(0, 0, 92, 0.919));
    border-radius: 86px;
    box-shadow: 2px 4px 6px rgba(86, 85, 85, 0.817);
    padding: 4vh;
    font-size: 30px;
}
.Azul-Corpo-Principal-Navegacao-Lista-Item{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}
.Azul-Corpo-Principal-Navegacao-Lista-Item-Link{
    border-radius: 13%;
    text-decoration: none;
    transition-duration: 0.5s;
    color: rgb(177, 189, 238);
}
.Azul-Corpo-Principal-Navegacao-Lista-Item-Link:hover{
    background-color: rgba(94, 94, 210, 0.474);
}
/*Configurações do Rodape do Azul*/
.Azul-Corpo-Rodape{
    min-height: 5vh;
    background-color: rgb(118, 118, 240);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Azul-Corpo-Rodape-Paragrafo{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}
.Azul-Corpo-Rodape-Paragrafo-Link{
}
/*Configurações do Corpo do Vermelho*/ 
.Vermelho-Corpo{
    background: url('Imagens/BackGroundRed.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*Configurações do Principal do Vermelho*/
.Vermelho-Corpo-Cabecalho{
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}
.Vermelho-Corpo-Cabecalho-Titulo{
    font-family: 'poppins', sans-serif;
    color: rgb(115, 16, 3);
    text-shadow: 3px 7px 8px;
}
/*Configurações do Principal do Vermelho*/
.Vermelho-Corpo1-Principal{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Vermelho-Corpo1-Principal-Paragrafo{
    min-width: 30vh;
    font-size: 22px;
    font-family: 'poppins', sans-serif;
    padding: 5%;
}
.Vermelho-Corpo-Principal{
    min-height: 54vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.Vermelho-Corpo-Principal-Navegacao{
    box-shadow: 6px 9px 5px rgba(255, 255, 255, 0.206);
    border-radius: 17%;
    padding: 2%;
    background: linear-gradient(to bottom, rgba(225, 53, 53, 0.27), rgba(177, 104, 104, 0.396));
}  
.Vermelho-Corpo-Principal-Secao{
}
.Vermelho-Corpo-Principal-Navegacao-Lista{
    list-style-type: none;
    text-align: center;
}
.Vermelho-Corpo-Principal-Navegacao-Lista-Item{
}
.Vermelho-Corpo-Principal-Navegacao-Lista-Item-Link{
}
/*Configurações do Rodape do Vermelho*/
.Vermelho-Corpo-Rodape{
    min-height: 4vh;
    background-color: rgb(179, 59, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
.Vermelho-Corpo-Rodape-Paragrafo{
    font-family: 'poppins', sans-serif;
    font-weight: 600;
}
.Vermelho-Corpo-Rodape-Paragrafo-Link{
    color: rgb(251, 118, 118);
}
/*Configurações do Corpo do Ciano*/ 
.Ciano-Corpo{
}
/*Configurações do Principal do Ciano*/
.Ciano-Corpo-Cabecalho{
}
.Ciano-Corpo-Cabecalho-Titulo{
}
/*Configurações do Principal do Ciano*/
.Ciano-Corpo-Principal{
}
.Ciano-Corpo-Principal-Paragrafo{
}
.Ciano-Corpo-Principal-Navegacao{
}
.Ciano-Corpo-Principal-Navegacao-Lista{
}
.Ciano-Corpo-Principal-Navegacao-Lista-Item{
}
.Ciano-Corpo-Principal-Navegacao-Lista-Item-Link{
}
/*Configurações do Rodape do Ciano*/
.Ciano-Corpo-Rodape{
}
.Ciano-Corpo-Rodape-Paragrafo{
}
.Ciano-Corpo-Rodape-Paragrafo-Link{
}